<!DOCTYPE html>
<html>
  <head>
    <title>KamiakaTweetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <div class="header-logo">
        <%= link_to("KamiakaTweetApp", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("KamiakaTweetAppとは", "/about") %>
        </li>
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
        <li>
        <%= link_to("新規投稿", "/posts/new") %>
        </li>
        <li>
        <%= link_to("ユーザー一覧", "/users/index") %>
        </li>
        <li>
        <%= link_to("新規登録", "/signup") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
